.bg {
  background-color: aquamarine;
}
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.about__container {
  width: 80%;
  margin:0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4;
}
.about__info{
    width: 80%;
}